* {
	font-family: sans-serif;
	margin:0;
}
header {
	max-width: 100%; /* Atur Lebar */
	min-height: 60px;
	border: 0px solid;
	background-color: #1abc9c;
	padding-left: 25px;
}
.brand {
	width: 20%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-weight: bold;
}
.section {
	width: 100%;
	min-height: 250px;
	border: 0px solid;
	padding-top:50px;
	padding-bottom: 50px;
}
.section-title {
	line-height: 50px;
	width: 15%;
	height:50%; 
	margin:0px auto;
	text-align: center; /* Atur Posisi Teks */
	border-bottom: 4px solid #63fffe;
	font-weight: bold;
	margin-bottom: 25px;
}
#banner {
	background-color: #63fffe;
	background-image: url("gntr.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.section-content {
	width: 80%;
	min-height:200px;
	border:0px solid; 
	margin:0px auto;
	padding:25px;
	overflow: hidden; /* untuk mengatasi flow */
}
.left {
	width: 45%;
	min-height: 100px; /* bisa mengikuti banyaknya teks */
	border:0px solid;
	float: left;
	margin:25px;
}
.right {
	width: 45%;
	min-height: 100px;
	border:0px solid;
	float: left;
	margin:25px;
}
.img-galeri {		/* mengukur gambar */
	width: 150px;
	height: 150px;
	margin: 27px;
}
#portfolio {
	background-color: #fffafd;
}
.form-group {
	width: 100%;
	min-height: 80px;
	border: 0px solid;
	margin-bottom: 10px
}
.form-group input[type=text] {
	width: 95%;
	height: 30px;
}
.form-group textarea {
	width: 95%;
	height: 200px;
}
.form-group .btn {
	padding:14px 20px;
	background-color: #1abc9c;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}
footer {
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #1abc9c; /* untuk ngasih warna background nya */
	color: #fff; /* ngasih warna text paling bawah */
}
